In [1]:
# Importa lib pandas para Análise de Dados
import pandas as pd

In [2]:
dados_brutos = pd.read_csv("./wine_dataset.csv")

In [3]:
dados_brutos.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [10]:
# Tratamento de Dados
dados = dados_brutos.dropna() # O "dropna" retira todas as linhas que contém "NaN" em algum resultado

In [11]:
# Troca dados 'string' para 'int', permitindo que o Python possa fazer os cálculos
dados = dados.replace({"style": {"red":0, "white": 1}})

In [12]:
# Separar 'itens para predição' dos 'alvos'
x = dados.drop("style", axis = 1) # axis = 1 é pra quando se trata de uma operação de colunas // axis = 0 é para linhas
y = dados["style"]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# Cria conjunto de dados de teste e treino
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3) # 30% serão usados para teste

In [16]:
# Escolhe um modelo de ML para ser utilizado
from sklearn.ensemble import ExtraTreesClassifier

In [17]:
modelo = ExtraTreesClassifier() # Salva no modelo

In [21]:
# Implanta o modelo para treinar
modelo.fit(x_treino, y_treino)

#Imprime Resultados
resultado = modelo.score(x_teste, y_teste)
print("Acurácia foi de: ", resultado*100, "%")

Acurácia foi de:  99.58974358974359 %

In [23]:
# Vamos usar essas linhas como gabarito de uma previsão...
y_teste[200:203]

1459    0
2302    1
3885    1
Name: style, dtype: int64

In [26]:
# Vamos tentar prevê-lo
modelo.predict(x_teste[200:203]) # será usado o x_teste para prever o y_teste (Logicamente)

array([0, 1, 1])